* {
	font-family: verdana, helvetica, sans-serif;
	color: white

}

p {

	text-align: center

}

#weatherContainer {
	z-index: 1;
	position: relative;
	padding: 3%;
	height: 100vh;
	width: 100wh;
	background-image: url(http://umad.com/img/2016/7/weather-desktop-wallpaper-13954-14425-hd-wallpapers.jpg)
}

#buttonContainer {
	z-index: 2;
	position: absolute;
	top: 80%;
	left: 50%;
	margin: 0 auto

}

.button {
	color: white;
	border-radius: 10%;
	background-color: transparent
}

.currentForcastCards {
	width: 30%;
	margin: 0 auto;
	
}

.dailyForcastCards {
	display: inline-block;
	flex-wrap: wrap;
	padding: .2%;
	border: 1px solid white


}

.hourlyForcastCards {
	display: inline-block;
	flex-wrap: wrap;
	padding: .2%;
	border: 1px solid white
}