* {
	font-family: verdana, helvetica, sans-serif;

}

p {

	text-align: center

}

input {
	width: 40%;

}

#weatherContainer {
	/*z-index: 1;*/
	height: 100vh;
	width: 100%;

}

#buttonContainer {
	/*z-index: 2;*/
	text-align: center

}

#searchContainer {
	text-align: center;


}
.button {
	border-radius: 10%;

}

.currentForcastCards {
	width: 30%;
	margin: 0 auto;
	
}

.dailyForcastCards {
	display: inline-block;
	padding: 5%;


}

.hourlyForcastCards {
	display: inline-block;
	padding: 5%;

}